* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    background: lightblue;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.btn {
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    background: yellow; 
    border: 1px solid black;
    font-size: 1rem;
}

.btn:hover {
    color: black;
    background: white;;
}

.popup {
    text-align: center;
    max-width: 500px;
    background: white;
    position: absolute;
    top: -800%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 2em;
    box-shadow: 5px 5px 5px gray;
}

.popup h2 {
    font-size: 1.9rem;
}

.open-popup {
    top: 50%;
}

.ok {
    margin-top: 1em;
}