@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

main {
  text-align: center;
}

#back {
  color: black;
  text-decoration: none;
  position: absolute; 
  top: 0;
  left: 1rem;
  font-size: 1.5rem;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url(../images/snow.jpeg);
    background-size: cover;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
}


.countdown-container {
  display: flex;  
  flex-flow: row wrap;
}


.big-text {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
  margin: 0 2rem;
}


.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}