* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background: hsl(210, 36%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.ans {
    display: none;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 700;
    margin-top: 1em;
}


.show-ans {
    display: block;
}


.qstn-text {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
}


.container {
    text-align: center;
}


.container h1 {
    color: #c59d5f;
    margin-bottom: 2em;
}


.question {
    width: 90%;
    background: white;
    box-shadow: 0px 0px 10px 0px lightgray;
    padding: 1em;
    border-radius: 10px;
    margin: 0 auto;
}


.btn {
    padding: 0.3em;
    border-radius: 5px;
    border-color: #c59d5f;
    color: #c59d5f;
    outline: none;
}

hr {
    margin-bottom: 1em;
}