.content {
    display: flex; 
    justify-content: space-between; 
    width: 200px;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 100vh;
    background-image: url(../images/stopwatch.jpg);
    background-size: 1000px; 
    background-repeat: no-repeat;
    background-position: center;
}

button {
    font-size: 1rem;
    margin: 1em;
}
