* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}


.container {
    display: flex; 
    gap: 1em;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

input {
    font-size: 1.3rem;
    padding: 0.2em;
}

button {
    font-size: 1rem;
    margin: 0.5em;
    padding: 0.3em;
}

li {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}