* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightblue;
    padding: 1em;
}

.con {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.content {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.val {
    font-size: 1.4em;
}



.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    margin-top: 1em;
}


#input {
    font-size: 1rem;
    padding: 5px;
    margin: 1em 0;
}

#btn {
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: white;
    background: black;
    margin: 0.5em 0;
}