@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
}


body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-height: 100vh;
}

#back {
    margin: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 5rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
}

#value {
    font-size: 3rem;
    font-weight: bolder;
    margin: 2rem;

}

.button-container {
    margin: 1rem;
}

button {
    color: black;
    font-weight: 500;
    border: #333 3px solid;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
}


button:hover {
    color: whitesmoke;
    background-color: #333;
    border: #333 3px solid;
}   